/* Animations for the updates of new dynamic items added by HTMX */
#history-dice-roll-row-push.htmx-added {
    opacity: 0;
}

#history-dice-roll-row-push {
    opacity: 1;
    transition: opacity 2s ease-out;
}

#dice-roll-result.htmx-added {
    opacity: 0;
}

#dice-roll-result {
    opacity: 1;
    transition: opacity 3s ease-out;
}

/*A badge used to show how many new dice rolls are on the history */
#notification-badge {
    display: none; /* this will be removed by JS: "display: flex;" */
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
  