{{define "_head"}}
<head>
    <meta charset="UTF-8">
    <title>Rollify</title>
    
    <script src="https://unpkg.com/htmx.org@^1"></script>
    <script src="https://unpkg.com/htmx.org@^1/dist/ext/sse.js"></script>
    <script src="https://unpkg.com/dayjs@^1/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@^1/plugin/relativeTime.js"></script>
    
    <link rel="stylesheet" href="{{.Common.URLPrefix}}/static/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
{{end}}