{{define "create_room_form"}}
<div id="createRoomFormSection">
    <h1>Create a new room</h1>

    {{if .Data.FormErrors}}
    <div>
        <ul>
            {{range .Data.FormErrors}}
            <li class="form-error-message"><strong>{{.}}</strong></li>
            {{end}}
        </ul>
    </div>
    {{end}}

    <form
        id="createRoomForm"
        hx-post="{{ .Common.URLPrefix }}/create-room"
        hx-swap="outerHTML"
        hx-target="#createRoomFormSection">

        <input type="text" name="roomName" id="roomName" placeholder="Room name" required/>
        
        <button type="submit">Create</button>
    </form>
</div>
{{end}}