{{define "dice_roll_history"}}

<figure>
    <table role="grid"
        hx-ext="sse"
        sse-connect="{{.Data.SSEURL}}"
        sse-swap="new_dice_roll"
        hx-target="#dice-roll-rows"
        hx-swap="afterbegin">
        <thead>
            <tr>
                <th></th>
                {{range .Data.Dice}}
                <th scope="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100px" viewBox="0 0 100 125" x="0px" y="0px">
                        <title>{{.DieType.Name}}</title>
                        <path fill="{{.Color}}" d="{{.SVG}}" />
                    </svg>
                </th>
                {{end}}
            </tr>
        </thead>
        <tbody id="dice-roll-rows">
        {{template "dice_roll_history_rows" .}}
        </tbody>
    </table>
</figure>
{{end}}