{{define "login"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head" .}}

<body>
    {{template "_nav_index" .}}

    <main class="container">
        {{template "_errors" .}}

        <div class="centeredSingleFormWrapper">
        <article>
            <h1>Log in room "{{.Data.RoomName}}" </h1>
            <section class="grid">
                {{template "login_form" .}}
            </section>
        </article>
        </div>
    </main>

    {{template "_footer" .}}
</body>

</html>
{{end}}